.footer {
    background-image: url('../../assets/images/footer.svg');
    background-size: cover;
    background-position: center;
    color: #000;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {

    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: left;
}


.footer-description {
    margin: 10px 0;
}

.footer-logo {
    max-width: 100%;
    /* Ensures the logo fits within its container */
    height: auto;
    /* Maintains aspect ratio */
}

.footer-section h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: #000;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.feedback {
    max-width: 300px;
    background: #fff;
    /* White background */
    border: 1px solid #ccc;
    /* Border */
    padding: 20px;
    /* Padding inside the feedback section */
    border-radius: 15px;
    /* Rounded corners */
    text-align: center;
    height: fit-content;
}

.feedback-form {
    display: flex;
    flex-direction: column;
}

.feedback-form input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form button {
    padding: 10px;
    border: none;
    background-color: #f0b998;
    color: #000;
    border-radius: 4px;
    cursor: pointer;

}

.feedback-form button:hover {
    background-color: #333333e3;
}